  <div class="footer navbar-fixed-bottom">
    <ul class="footer-icons mt-3">
      <a href="#"><i class="fab fa-instagram"></i></a>
      <a href="#"><i class="fab fa-facebook"></i></a>
      <a href="#"><i class="fab fa-twitter"></i></a>
    </ul>
    <div class="footer-copyright">
      <p>All rights reserved to VintageRent Inc. Copy right belongs to VintageRent Inc.</p>
    </div>
  </div>
