  <div class="footer navbar-fixed-bottom">
    <ul class="footer-icons mt-3">
      <a href="#"><i class="fab fa-instagram"></i></a>
      <a href="#"><i class="fab fa-facebook"></i></a>
      <a href="#"><i class="fab fa-twitter"></i></a>
    </ul>
    <div class="footer-copyright">
      <p>ipiscing  incidunt ut. Adipiscing nisi, egestas proin nulla morbi pellentesque sed aliquam fermentum.</p>
    </div>
  </div>
