<div class= "home-page">

<div class="banner-content">
  <h1 class='banner_title' id="phrase" class="mt-5">Book your dream car in one click</h1>

  <div class='searchbar mt-4'>
    <%= form_tag cars_path, method: :get do %>
      <%= text_field_tag :query,
        params[:query],
        class: "form-control search_bar",
        placeholder: "Find a car"
      %>
      <%= submit_tag "Search", class: "btn search_btn mt-3 ml-2" %>
    <% end %>
</div>

</div>



</div>
