.btn-ghost {
  color: white;
  border: 1px solid white;
  padding: 8px 24px;
  border-radius: 50px;
  font-weight: lighter;
  font-size: bold;
  transition: opacity 0.3s ease;
}

.btn-ghost:hover {
  opacity: 1;
  color: white;

}

// Profile page

.btn-profile-see {
  background-color: #A6703D;
  color: white;
  width: 90px;
}

.btn-profile-delete {
  background-color: #C4C4C4;
  color: white;
  width: 90px;
}

.btn-add-car {
  background-color: #A6703D;
  width: 150px;
  color: white;
}
