.btn-reserve {
  background-color: #F14F4F;
  color: white;
  width: 228px;
}

.search_btn {
  background-color: #2C0309;
  color: white;
  border-radius: 3px;
  width: 80px;
}

.search_btn:hover {
  color: white;
}

// Profile buttons

.add-car-button {
  width: 100%;
  text-align: right;
  padding: 50px 50px 0px 50px;
  padding-right: 162px;
}
