.btn-reserve {
  background-color: #F14F4F;
  color: white;
  width: 228px;
}

.search_btn {
  background-color: #2C0309;
  color: white;
  border-radius: 6px;
  width: 80px;
}

.search_btn:hover {
  color: white;
}
