// Car show page

.show-container {
  display: flex;
  justify-content: space-between;
}

.show-main-container {
  margin: 2% auto;
}

.sub-container {
  width: 68%;

  .brand {
    border-radius: 3px;
    box-shadow: 0 0 3px rgba(0,0,0,.1);
    margin-bottom: 1%;
    padding-left: 5%;
    padding-top: 1.5%;
    background-color: white;
  }

  .brand > h3 {
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
    font-size: 40px;
    color: #A6703D;
  }

  .brand > p {
    font-family: poppins;
    color: rgb(150,150,150);
  }

  .show-description {
    border-radius: 3px;
    box-shadow: 0 0 3px rgba(0,0,0,.1);
    padding: 5%;
    background-color: white;

    .icons {
      width: 5%;
    }
  }

  .show-description > p {
    font-family: poppins;
    margin-bottom: 25px;
    font-size: x-large;
  }
}



.sub-container-2 {
  width: 28%;
  border-radius: 3px;
  box-shadow: 0 0 3px rgba(0,0,0,.1);
  padding: 1.5%;
  text-align: center;
  background-color: white;

  .star-flex {
    display: flex;
    justify-content: space-between;
  }
}

.show-image-container {
  display: flex;
  justify-content: space-between;
  margin-bottom: 1%;
  margin-top: 1%;
}


.container-dates {
  box-shadow: 0 0 3px rgba(0,0,0,.1);
  border-radius: 3px;
  padding: 1.5%;
}

// Search bar

.searchbar {
  display: flex;
  justify-content: center;
}


//  Profile Page

.profile-main-container {
  display: flex;
  justify-content: space-around;
  padding: 20px;
  margin: 20px 100px;
}

.profile-container {
  text-align: center;
  border-radius: 3px;
  // border: solid 1px;
  box-shadow: 0 0 3px rgba(0,0,0,.1);
  padding: 1.5%;
  margin-right: 20px;

  .profile-color {
    background-color: navy;
  }

  .user-pic {
    position: top;
  }

}

.profile-dashboard {
  display: flex;
}

.profile-bookings {
  // border: solid 1px;
  margin-right: 30px;
  box-shadow: 0 0 3px rgba(0,0,0,.1);
  margin-bottom: 20px;
  border-radius: 3px;
}

.profile-bookings > ul {
  display: flex;
}
.profile-bookings > ul > li {
  margin: 10px;
}
.profile-listings {
  margin-top: 10px;
  // border: solid 1px;

  border-radius: 3px;
}

.my_car {
  box-shadow: 0 0 3px rgba(0,0,0,.1);
}
