// Car show page

.show-container {
  display: flex;
  justify-content: space-between;
}

.show-main-container {
  margin: 2% auto;
}

.sub-container {
  width: 68%;

  .brand {
    border-radius: 3px;
    border: solid 1px;
    box-shadow: 0 10px 30px rgba(0,0,0,.1);
    margin-bottom: 1%;
    padding-left: 5%;
    padding-top: 1.5%;
  }

  .show-description {
    border-radius: 3px;
    border: solid 1px;
    box-shadow: 0 10px 30px rgba(0,0,0,.1);
    padding: 5%;

    .icons {
      width: 5%;
    }
  }
}

.sub-container-2 {
  width: 28%;
  border-radius: 3px;
  border: solid 1px;
  box-shadow: 0 10px 30px rgba(0,0,0,.1);
  padding: 1.5%;
  text-align: center;

  .star-flex {
    display: flex;
    justify-content: space-between;
  }
}

.show-image-container {
  display: flex;
  justify-content: space-between;
  margin-bottom: 1%;
  margin-top: 1%;
}


.container-dates {
  box-shadow: 0 10px 30px rgba(0,0,0,.1);
  border-radius: 3px;
  border: solid 1px;
  padding: 1.5%;
}

// Search bar

.searchbar {
  display: flex;
  justify-content: center;
}


//  Profile Page

.profile-main-container {
  display: flex;
  justify-content: space-around;
  padding: 20px;
  margin: 20px 100px;
}

.profile-container {
  text-align: center;
  border-radius: 3px;
  padding: 1.5%;
  margin-right: 20px;
  background-color: #D3B79E;
  color: white;
  width: 300px;

  .user-pic {
    position: top;
  }

  .user-details {
    text-align: left;
    padding-left: 20px;
  }

}

.profile-dashboard {
  display: flex;
}

.profile-bookings {
  border-radius: 3px;
  display: flex;
  align-items: center;
}

.profile-bookings > ul {
  list-style-type: none;
}
.profile-bookings > ul > li {
  margin: 10px;
}
.profile-listings {
  margin-top: 10px;
  border-radius: 3px;
}

.my_car {
  box-shadow: 0 0 3px rgba(0,0,0,.1);
}

.action {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.my-bookings {
  h2 {
    color: white;
  }
}
