.navbar ul {
  font-family: Poppins;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  letter-spacing: 0.15em;
  text-transform: uppercase;
  text-decoration: none;
  color: white;
  display: inline;
}

.navbar li {
  display: inline;
  margin-right: 80px;
}

.navbar h1 {
  font-family: 'Roboto', 700, sans-serif;
  text-transform: uppercase;
  color: white;
  padding-top: 20px;
  padding-left: 20px;

  font-weight: bold;
}

.navbar {
  background-color: #2C0309;
}

.nav > li > a {
  color: white;
}

.navbar-header > a {
  color: white;
  font-family: 'Sancreek', cursive;
  font-size: 40px;
}

.navbar-header > a:hover {
  text-decoration: none;
  opacity: 0.8;
}
